body {
    background: #D4A26A;
    text-align: center;
}
h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    text-transform:  uppercase;
    text-align: center;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.flaskimg {
    max-width: 300px;
    margin: 40px auto;
    display: block;
}
.ninjaimg {
    max-width: 300px;
    display: block;
    margin: 10px auto;
}
a {
    display: block;
    text-decoration: none;
    color: #fff;
}