<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body {
                background: #D4A26A;
            }
             .container {
                max-width: 1000px;
                margin: 0 auto;
            }

        </style>
    </head>
    <body>
        <div class="container">
        <a href="/"> Home </a>
    	   <p> Dojo! </p>
          <form action="post">
              First name:<br>
              <input type="text" name="firstname"><br>
              Last name:<br>
              <input type="text" name="lastname">
              <button type="submit" value="submit"> Submit </button>
            </form> 
        </div>
    </body>
</html>