<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Our first Flask Server</title>
        <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

    </head>
    <body>
        <div class = "container">
            <h1> Yo from team Bl-asian</h1>
            <h3> Nicole, Diana, Cleaver, AJ </h3>
            <p> Hello Everyone! Welcome to Flask! </p>
            <a href="/ninjas"> Check out my ninjas </a>
            <a href="/dojos"> Check out my Dojo Form</a>
            <img src="http://cdn.shopify.com/s/files/1/0192/3894/products/flask_2_1024x1024.jpg?v=1356892473" alt="" class="flaskimg">

        </div>
    </body>
</html>